{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">About Bethel Church</h1>
    <div class="row">
        <div class="col-md-8">
            <p class="lead">Our Mission</p>
            <p>To spread the love of Christ and serve our community through worship, fellowship, and outreach.</p>
            
            <p class="lead mt-4">Our Vision</p>
            <p>To be a beacon of hope and transformation in our community, leading people to a deeper relationship with God.</p>
            
            <p class="lead mt-4">Our Values</p>
            <ul>
                <li>Biblical Teaching</li>
                <li>Prayer and Worship</li>
                <li>Community Service</li>
                <li>Fellowship</li>
                <li>Discipleship</li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Service Times</h5>
                    <p class="card-text">
                        Sunday Service: 10:00 AM<br>
                        Wednesday Bible Study: 7:00 PM<br>
                        Prayer Meeting: Friday 6:30 PM
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}