{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Bethel Church</h1>
    <p class="lead">Join us in worship and fellowship</p>
    <hr class="my-4">
    <p>We are a community of believers dedicated to serving God and our community.</p>
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <h3>Upcoming Events</h3>
        <p>Stay tuned for our upcoming events and activities.</p>
    </div>
    <div class="col-md-4">
        <h3>Services</h3>
        <p>Join us for our weekly services and prayer meetings.</p>
    </div>
    <div class="col-md-4">
        <h3>Get Involved</h3>
        <p>Find out how you can be part of our community.</p>
    </div>
</div>
{% endblock %}